# -*- coding: utf-8 -*-

[github]
repo-regex=(squad|chapt)-.[\w-]+
average=7

[commands]
(ajuda|help):help
(vazão|vazao|throughput):throughput
(leadtime|lead time):leadtime
(open|issues|abertas|previsão|backlog):open
(apr|agile plan review):apr
(retro|retrospectiva):retro
(relatorio|report):report

[command-help]
help-text:Porque não tenta um dos comandos abaixo

	"@professor qual o leadtime do time squad-xxxxxx ?""
	"@professor e a vazao do time squad-yyyyyy ?""
	"@professor status dos itens abertos"
	"@professor issues abertas do time squad-zzzzzzz ?"
	"@professor apr do time squad-zzzzzzz ?"
	"@professor como foi a retrospectiva do time squad-zzzzzzz ?"

	Lembrando
	Os nomes dos times tem o formato squad-nome-do-time
	Se você não especificar o time, vou usar o nome do canal atual como nome do time

	:-)